<article class="card">

  {% if item.image %}
  {{ item.url }}
    {{ item.image }}
  </a>
  {% endif %}

  <h3>
    {{ item.url }}
      {{ item.title }}
    </a>
  </h3>

  <div class="meta">
    {{ item.source }} • {{ item.domain }} •
    {{ item.published.strftime("%d.%m.%Y %H:%M") }} UTC
  </div>

  {% if item.summary %}
  <p>{{ item.summary }}</p>
  {% endif %}

</article>
