<article class="card">

  {% if item.image %}
  <a href="{{ item   <img
      src="{{ item.image }}"
      loading=" <a href="{{ item.url }}" target="_blank"  </a>
  </h3>

  <div class="meta">
    {{ item.source }} • {{ item.domain }} •
    {{ item.published.strftime("%d.%m.%Y %H:%M") }} UTC
  </div>

  {% if item.summary %}
  <p>{{ item.summary }}</p>
  {% endif %}

</article>
