{% extends "layout.html.j2" %}

{% block content %}

<section class="hero">
  <h2>Impressum</h2>
  <p>Angaben gemäß § 5 TMG</p>
</section>

<section class="page-content">

  <h3>Betreiber der Website</h3>
  <p>
    Dennis Magnus Böhm<br>
    Krainbergstraße 4<br>
    63654 Büdingen<br>
    Deutschland
  </p>

  <h3>Kontakt</h3>
  <p>
    E-Mail: mailto:dennis@mail.boehmonline.spacedennis@mail.boehmonline.space</a>
  </p>

  <h3>Hinweis zum Inhalt</h3>
  <p>
    Der KI‑Ticker ist ein automatisiertes Aggregationssystem für Nachrichtenfeeds
    rund um das Thema Künstliche Intelligenz.  
    Die bereitgestellten Inhalte stammen aus externen Quellen.  
    Es findet keine redaktionelle Prüfung oder Bearbeitung der einzelnen Artikel statt.
  </p>

  <h3>Haftungsausschluss (Disclaimer)</h3>
  <p>
    Trotz sorgfältiger inhaltlicher Kontrolle wird keine Haftung für die Inhalte
    externer Links übernommen. Für den Inhalt der verlinkten Seiten sind ausschließlich
    deren Betreiber verantwortlich.
  </p>

  <h3>Urheberrecht</h3>
  <p>
    Die dargestellten Artikel, Bilder, Logos und Markennamen gehören den jeweiligen
    Rechteinhabern.  
    Der Betreiber dieser Seite macht sich deren Inhalte nicht zu eigen.
  </p>

  <p>
    Zurück zur /Startseite</a>.
  </p>

</section>

{% endblock %}
